/*Propiedades página contacto*/
.hero__contacto {
  background-image: url(http://www.ctec.com.ar/new/images/cursos/fondo-marketing-digital.jpg);
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  padding-top: 280px;
}
/*Fin propiedades página contacto*/
