/*propiedades decorativas de página funcionalidades*/
.hero__funcionalidades {
  background-image: url(https://lh3.googleusercontent.com/proxy/Oc1D9ItuVgoGAyJMWBLj2Kku0fHSCdlEpV0ZBk47AJ5RGpT6DXz_nHFyL1bn3vE9uONBkjkV8pcg5GtmVO54JPEirq9fLv87LXFDhWbde6MK981gCx6YjjDJIO0BYQ1Z_iAl9KRbSjJXy7xnv13baZg62ByVzDxH);
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 110px;
}
.funciones {
  display: flex;
  flex-direction: column;
  &__sección {
    font-size: $size * 3;
    font-weight: bolder;
    color: #fdfdfd;
    text-align: center;
    background-color: $color-app-uno;
    width: $tamaño * 60;
    margin-left: $tamaño * 4;
    &--texto {
      font-size: $size * 2;
      border: 1 px;
      background-color: $color-app-tres;
      width: 1200px;
      margin-left: $tamaño * 4;
      height: $tamaño * 6;
      line-height: $tamaño * 2;
    }
  }
}
