/*Propiedades decorativas de la página videotutoriales*/
.hero__videotutoriales {
  background-image: url(https://edtechmagazine.com/higher/sites/edtechmagazine.com.higher/files/styles/cdw_hero/public/articles/EdTech/201711/%20Rogotanie_Video.jpg?itok=ciXfIJVy);
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-top: 30px;
}

.videos {
  width: 100%;
  height: 700px;
  background-image: linear-gradient(to bottom, #007c91, #f98b00);
}
/*Fin propiedades decorativas de la página videotutoriales*/
