/* reseteo de las propiedades de las páginas del sitio web */
* {
  margin: 0;
  padding: 0;
}
/* características de la fuente tipográfica del sitio web */
html {
  font-family: "Roboto", sans-serif;
  font-size: 80%;
}
