/*Reseteo de las propiedades de las páginas del sitio web */
* {
  margin: 0;
  padding: 0;
}
/*Características de la fuente tipográfica del sitio web */
html {
  font-family: "Roboto", sans-serif;
  font-size: 80%;
}
/*Características del botón de búsqueda de la nav*/
#boton {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background: $color-app-uno;
  border: 0px;
  width: 80px;
  height: 30px;
}
#buscar {
  width: 130px;
  height: 30px;
}
/* Fin características del botón de búsqueda de la nav*/
