$color-app-uno: #007c91;
$color-app-dos: #f98b00;
$color-app-tres: #ffbc45;
$size: 8px;
$color-app-uno-transparente: rgba($color-app-uno, 0.25);
$color-fondo-texto: rgba($color-app-dos, 0.5);
$tamaño: 20px;
